* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f5f7;
}

@keyframes shake-down {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(12px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes shake-mix {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translate(-12px, 12px)
    }
    100%{
        transform: translate(0)
    }
}

@keyframes shake-up {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-12px)
    }
    100%{
        transform: translateY(0)
    }
}


@keyframes slideshow {
    0% {
        left: 0;
    }

    100% {
        left: -2900px;
    }
}
main {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

#locations {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 2800px;
    animation: slideshow 65s linear infinite;
}

#locations:hover {
    animation-play-state: paused;
}
.rows {
    display: flex;
    padding: 18px 0;
}

.first-row-box:nth-child(3n+1) {
    animation: shake-down 10s infinite linear;
}

.first-row-box:nth-child(3n+2) {
    animation: shake-mix 10s infinite linear;
}

.first-row-box:nth-child(3n) {
    animation: shake-up 10s infinite linear;
}

.second-row-box:nth-child(3n+1) {
    animation: shake-up 10s infinite linear;
}

.second-row-box:nth-child(3n+2) {
    animation: shake-down 10s infinite linear;
}

.second-row-box:nth-child(3n) {
    animation: shake-mix 10s infinite linear;
}

.third-row-box:nth-child(3n+1) {
    animation: shake-mix 10s infinite linear;
}

.third-row-box:nth-child(3n+2) {
    animation: shake-up 10s infinite linear;
}

.third-row-box:nth-child(3n) {
    animation: shake-down 10s infinite linear;
}

.box {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    box-shadow: -3px 0 24px 0 rgba(0,0,0,.08);
}

.first-row-box {
    margin: 0 60px;
}

.second-row-box {
    margin-right: 90px;
}

.third-row-box {
    margin: 0 50px;
}

.logo {
    max-width: 135px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: auto;
}





@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.2)
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.2)
    }
}

.class-study {
    border: 1px solid black;
    border-radius: 50%;
    transition: transform 2s linear;
}

.class-study:hover {
    background-color: #772172;
    border: none;
    transform: scale(1.2);
    animation: scale 16s infinite ease-in-out;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='4' stroke-dasharray='2%2c 32%2c 2' stroke-dashoffset='4' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 100px;
}